
/** NAVBAR STYLING **/

* {
    margin: 0;
    background-color: black;
    font-family: Arial;
    border: border-box;
    -webkit-tap-highlight-color: transparent;
}

.navbar {
    height: 60px;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 30px;
    width: 30px;
    margin-left: 15px;
    margin-top: 5px;
}

.logo {
    background-image: url("movies-hub-logo.png");
    background-size: cover;
    height: 30px;
    width: 30px;    
}

.home-icon {
    color: white;
    margin-left: 75%;
}

:hover.icon {
    color: red;
    transition: 0.5s;
}

/** END **/

/** MOVIES SECTION **/

.movies-section {
    display: flex;
    justify-content: center;
    user-select: none;
}

.movies-section-buttons {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: solid;
    border-color: white;
    border-width: 1.9px;
    border-radius: 12px;
    height: 25px;
    width: 7rem;
    padding-left: 10px;
    padding-right: 10px;
}

/** END **/

/** HOVER EFFECTS **/

:hover.movies-section-buttons {
    color: black;
    background-color: white;
    border: none;
    transition: 0.5s;
}

:active.movies-section-buttons {
    color: black;
    background-color: white;
    border: none;
}

/** END **/

/** MOVIES **/

.movies {
    display: grid;
    margin-top: 25px;
    margin-left: 40px;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
}

.movie {
    width: 160px;
}

.title {
    margin-top: -4px;
    height: 30px;
    width: 153px;
    background-color: rgb(30, 30, 30);
    color: white;
    font: bold;
    font-size: large;
    padding-left: 8px;
    padding-top: 8px;
}

/** END **/

/** MOVIES-OPENED-PAGE **/

.back-button {
    margin-top: 20px;
    margin-left: 10px;
}


/** END **/
